[submodule "src/GLGE_BG"]
	path = src/GLGE_BG
	url = https://github.com/DM8AT/GLGE_BG.git
[submodule "src/GLGE_Math"]
	path = src/GLGE_Math
	url = https://github.com/DM8AT/GLGE_Math.git
[submodule "GLGE_CORE_CONTAINER/GLGE_Core"]
	path = GLGE_CORE_CONTAINER/GLGE_Core
	url = https://github.com/DM8AT/GLGE_Core.git
